<div class="sidebar">
  <div class="container sidebar-sticky">
  
    <div class="sidebar-about">
      <img src="https://raw.githubusercontent.com/garcharnav/garcharnav.github.io/master/images/headshot.PNG" width="160" height="160" alt="Arnav Garcha" style="margin: auto auto 1rem auto; border: 4px solid #fff; border-radius: 80px;">
      
    </div>
    
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      
<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ "/" | relative_url }}">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != "category" %}
          {% if node.layout == "page" %}
            {% if node.location == "cate" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">&nbsp&nbsp&nbsp{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      
      
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != "category" %}
          {% if node.layout == "page" %}
            {% if node.location == "head" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      
      	<a class="sidebar-nav-item" href="https://garcharnav.github.io/about">About</a>
    
	<a class="sidebar-nav-item" href="https://garcharnav.github.io/pdfs/resume.pdf" target="_blank">Resume</a>
    </nav>
    
    <div class="sharebuttons">
      	{% include share.html %}
    </div>
    
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    
  </div>
  
</div>
